.attendance-table{
    margin: 20px;
    border-radius: 10px;
    background-color : white;
    border: 1px solid #fff;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 70%;
    align: left;
}

